.button {
  width: 100%;
  height: 44px;
  padding: var(--space-small) var(--space-medium);
  background-color: var(--color-blue);
  color: white;
  border: transparent;
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  cursor: pointer;

  .icon {
    margin-right: var(--space-small);
  }
}

.button:hover {
  background-color: var(--color-blue-dark);
  text-decoration: none; /* to remove links having an underline when using the button class */
}

.button:disabled {
  background-color: var(--color-gray);
  color: var(--color-page-background);
  cursor: not-allowed;
}

@media (min-width: 750px) {
  .button {
    width: initial; /** to reset the mobile version taking full width */
    min-width: 150px;
  }
}
