.radio {
  position: relative;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 4px var(--space-small);
  min-width: 32px;
  text-align: center;

  input {
    appearance: none;
    position: absolute;
    inset: 0;
    margin: 0;
    border: solid 2px white;
    border-radius: var(--border-radius);
  }

  input:hover {
    border-color: var(--color-gray);
  }

  input:checked {
    border-color: var(--color-yellow);
  }
}
